<main>
<div id="signupmail">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>パスワード再設定</h1>
        <dt class="form_term">パスワード再設定用のメールを送信しました。メールをご確認の上、パスワードの再設定を行ってください。</dt>
        <div class="top_back_btn">
			    <a href="/" class="btn">TOPページへ</a>
		    </div>
    </div>
  </div>
</div>
</main>