
<main>
<div id="help">
  <div id="beginners">
    <div class="help_ttl">
      <div class="inner_mid">
        <h1>はじめての方</h1>
        <p>PARCOM ADMINへようこそ！ここでは、PARCOM ADMINの基本をわかりやすくご紹介します。</p>
        <div class="beginners_select_tab pc">
          <ul class="flex_container">
            <li>スタートガイド</li>
            <li>PARCOM ADMINとは？</li>
            <li>アカウント登録</li>
            <li>コントロールパネル</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="inner_mid">
      <div class="beginners_select_tab tab_sp">
        <ul>
          <li class="first">スタートガイド</li>
          <li>PARCOM ADMINとは？</li>
          <li>アカウント登録</li>
          <li>コントロールパネル</li>
        </ul>
      </div>
      <section id="">
        <h2>スタートガイド</h2>
        <p>PARCOM ADMINは【ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト】です。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>
        <p>ADMINは【ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト】です。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>





      </section>
      <section id="">
        <h2>PACOM ADMINとは？</h2>
        <p>PARCOM ADMINは【ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト】です。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>




      </section>
      <section id="">
        <h2>アカウント登録</h2>
        <p>PARCOM ADMINは【ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト】です。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>




      </section>
      <section id="">
        <h2>コントロールパネル</h2>
        <p>PARCOM ADMINは【ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト】です。吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</p>




      </section>
      <div class="help_link">
        <%= link_to "ヘルプトップに戻る", '/others/help', class: "btn" %>
      </div>
    </div>
  </div>
</div>
</main>