<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>コマンドによる制御操作</p>
<p>ベンチを選択</p>
<select id="bench_mac_adrs">
    <option selected>aaaaaaaa</option>
    <option>bbbbbbbb</option>
</select>
<br>
<br>
<br>
<br>

<p>USB用5V電源供給を許可ON/OFFします</p>
<button id="usb_btn">ON/OFF</button>
<br>
<br>
<p>ラズパイターミナル画面へのログ出力をON/OFFします</p>
<button id="log_btn">ON/OFF</button>
<br>
<br>
<p>Smart Benchの位置（緯度、経度）を初期値として設定</p>
<input id="lat" type="text" class="position_default">
<input id="lon" type="text" class="position_default">
<button id="position_btn">設定</button>
<br>
<br>
<p>システムを停止します。プログラムの修正や追加の作業を行う際に指定します。</p>
<button id="systemdown_btn">システム停止</button>

<br>
<br>
<br>
<br>
<br>
<br>
<%= javascript_pack_tag 'admin' %>