<aside class="sidebar_product">
  <div class="sidebar_product_ttl">公園一覧</div>

  <%= render partial: "shared/park", collection: @parks %>
  
  <div class="sidebar_help">
    <div class="sidebar_help_ttl"><%= image_tag "/sidebar/icon_speechbubble.svg" %>ヘルプページはこちら</div>
    <p>使い方やよくあるご質問等をまとめています。</p>
    <%= link_to '/help', class: "btn hover flex_container" do %>
      ヘルプはこちらから<%= image_tag "/sidebar/icon_arrow_help_off.svg" %>
    <% end %>
  </div>
</aside>