<footer>
	<div class="inner_min">
		<div class="footer_nav">
			<ul class="flex_container_c">
				<li>
					<%= link_to "お問い合わせ", "/parcom/contact" %>
				</li>
				<li>
					<%= link_to "プライバシーポリシー", "/parcom/privacy" %>
				</li>
				<li>
					<%= link_to "利用規約", "/parcom/terms" %>
				</li>
				<li>
					<%= link_to "ヘルプ", "/parcom/help" %>
				</li>
			</ul>
		</div>
		<small>Copyright &copy; 2022 PARCOM Inc. All rights reserved.</small>
	</div>
</footer>