<footer>
	<div class="inner_min">
		<div class="footer_nav">
			<ul class="flex_container_c">
				<li>
					<%= link_to "お問い合わせ", "/contacts" %>
				</li>
				<li>
					<%= link_to "プライバシーポリシー", "/privacy" %>
				</li>
				<li>
					<%= link_to "利用規約", "/terms" %>
				</li>
				<li>
					<%= link_to "ヘルプ", "/help" %>
				</li>
			</ul>
		</div>
		<small>Copyright &copy; 2023 PARCOM Inc. All rights reserved.</small>
	</div>
</footer>