<main>
<div id="signup">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>アカウント登録</h1>
      <div class="step_content">
        <div class="step_item active">
          <div class="step_item_num">1</div>
          <span>入力</span>
        </div>
        <div class="step_item">
          <div class="step_item_num">2</div>
          <span>確認</span>
        </div>
        <div class="step_item">
          <div class="step_item_num">3</div>
          <span>完了</span>
        </div>
      </div>
      <form id="" name="">
                <p id="submit_failed" class="caution" style="display:none;"><%= image_tag "/signin_warning.png" %>メールアドレスまたはパスワードが空欄です</p>
      	<div class="txt_field">
          <dt class="form_term">メールアドレス</dt>
      		<dd class="form_description"><input type="text" name="log" id="login_email" value="" placeholder="メールアドレスを入力してください"></dd>
      	</div>
        <div class="txt_field">
          <dt class="form_term">アカウント名</dt>
      		<dd class="form_description"><input type="text" name="log" id="login_name" value="" placeholder="アカウント名を入力してください"></dd>
      	</div>
      	<div class="txt_field">
          <dt class="form_term">パスワード</dt>
      		<dd class="form_description"><input type="password" name="pwd" id="login_password" value="" placeholder="パスワードを入力してください"></dd>
          <span class="ex">6〜20文字・半角英数</span>
      	</div>
      	<input class="btn" id="" name="" type="button" value="内容を確認する">
      </form>
    </div>
  </div>
</div>
</main>