<main>
<div id="changemail">
<div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div id="account_related" class="inner_mid">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>ログイン情報</h1>
      </div>
    </div>
    <div class="content">
      <div class="content_frame">
        <div class="account_item account_item_ttl">
          <dt><h2>メールアドレスの変更</h2></dt>
          <dd>ダミーテキストダミーテキストダミーテキストダミーテキスト<a href="">詳細</a></dd>
        </div>
        <div class="account_form_wrap">
          <%= form_for(@user, url:{controller:'user', action:'changemail'}) do |form| %>
            <div class="txt_field">
              <dt class="form_term">メールアドレス<span class="req">必須</span></dt>
              <dd class="form_description"><%= form.email_field :email, placeholder:"admin@parcom.jp", required: true %></dd>
            </div>
            <%= form.submit "確認メールを送信する", class: "btn btn_g" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
    