<main>
<div id="login">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>ログイン</h1>
      <form id="login_form" name="login_form">
                <p id="submit_failed" class="caution" style="display:none;"><%= image_tag "/signin_warning.png" %>メールアドレスまたはパスワードが空欄です</p>
      	<div class="txt_field">
          <dt class="form_term">メールアドレス</dt>
      		<dd class="form_description"><input type="text" name="log" id="login_email" value="" placeholder="メールアドレスを入力してください"></dd>
      	</div>
      	<div class="txt_field">
          <dt class="form_term">パスワード</dt>
      		<dd class="form_description"><input type="password" name="pwd" id="login_password" value="" placeholder="パスワードを入力してください"></dd>
      	</div>
      	<input class="btn" id="login_submit" name="submitbtn" type="button" value="ログインする">
      	<div class="forget">※パスワードをお忘れの方は<%= link_to "こちら", "/others/forgetpwd" %></div>
      </form>
    </div>
    <div class="new_signup_wrap">
      <p>PARCOM ADMINのご利用が初めての場合は、<br class="sp"><%= link_to "アカウントを作成します。", "/user/signupmail" %></p>
    </div>
  </div>
</div>
</main>
