<main>
<div id="signupmail">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
        <dt class="form_term">アカウントが有効化されていません。届いたメールをご確認の上、アカウントを有効化してください。</dt>
        <div class="top_back_btn">
			<a href="/signupmail" class="btn">アカウント作成ページへ</a>
		</div>
    </div>
  </div>
</div>
</main>