<main>
<div id="signupmail_success">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <div class="signupmail_success">
        <h1>アカウント仮登録完了</h1>
        <div class="signupmail_success_txt">
          <p>本人確認メールを送信しました。</p>
          <p>ご登録いただいたメールアドレス宛に本登録メールをお送りいたしました。メール本文に記載されているURLを押してアカウント登録を完了させてください。</p>
        </div>
        <div class="signupmail_success_mail">
          <p>メールが届かない場合</p>
          <ul>
            <li>迷惑メールフォルダ等に振り分けられていないかご確認ください。</li>
            <li>携帯メールアドレスの場合、ドメイン設定によりメールが受信できない場合がございます。「ドメイン名」を受信許可リストに設定の上、<%= link_to "こちら", "/" %>からメールを再送してください。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
