<main>
<div id="signup_success">
<div id="login_related">
  <div class="inner_min">
    <div class="logo">
      <%= image_tag "/common/os-logo.svg", alt: "PARCOM OS" %>
    </div>
    <div class="login_related_content">
      <h1>アカウント登録</h1>
      <div class="step_content step_content_success">
        <div class="step_item active">
          <div class="step_item_num"><%= image_tag "/common/icon_success.svg" %></div>
          <span>入力</span>
        </div>
        <div class="step_item">
          <div class="step_item_num"><%= image_tag "/common/icon_success.svg" %></div>
          <span>確認</span>
        </div>
        <div class="step_item">
          <div class="step_item_num"><%= image_tag "/common/icon_success.svg" %></div>
          <span>完了</span>
        </div>
      </div>
      <div class="signup_success_txt">
        <p>アカウント登録が完了しました</p>
        <p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
      </div>
      <a class="btn" id="login_submit" href="/">トップページへ</a>
    </div>
  </div>
</div>
</main>