<main>
<div id="free_wi-fi">
  <div class="free_wifi_img">
    <%= image_tag "/common/free_wifi.svg", alt: "PARCOM FREE Wi-Fi" %>
  </div>
  <div class="terms_content">
    <p>ご利用規約に同意いただくことで、フリーWi-Fiをご利用いただけます。</p>
    <div class="terms">
      <h2>PARCOMフリーWi-Fiサービス利用規約</h2>
      <h3>第1条(規約の適用)</h3>
      <p>株式会社PARCOM (以下当社といいます)は、無料の公衆無線LANサービス（「フリーWi-Fiサービス」。以下「本サービス」といいます。）に関して、本サービスを利用するもの（以下「利用者」といいます）に対し、以下のとおり利用規約（以下「本規約」といいます）を定めます。</p>
      <h3>第2条(規約の適用)</h3>
      <p>株式会社PARCOM (以下当社といいます)は、無料の公衆無線LANサービス（「フリーWi-Fiサービス」。以下「本サービス」といいます。）に関して、本サービスを利用するもの（以下「利用者」といいます）に対し、以下のとおり利用規約（以下「本規約」といいます）を定めます。</p>
      <h3>第3条(規約の適用)</h3>
      <p>株式会社PARCOM (以下当社といいます)は、無料の公衆無線LANサービス（「フリーWi-Fiサービス」。以下「本サービス」といいます。）に関して、本サービスを利用するもの（以下「利用者」といいます）に対し、以下のとおり利用規約（以下「本規約」といいます）を定めます。</p>
      <h3>第4条(規約の適用)</h3>
      <p>株式会社PARCOM (以下当社といいます)は、無料の公衆無線LANサービス（「フリーWi-Fiサービス」。以下「本サービス」といいます。）に関して、本サービスを利用するもの（以下「利用者」といいます）に対し、以下のとおり利用規約（以下「本規約」といいます）を定めます。</p>
    </div>
    <div class="terms_btn">
      <div class="terms_checkbox_item">
        <input id="terms_checkbox" type="checkbox">利用規約に同意する
      </div>
      <input type="submit" name="" value="インターネットに接続する" class="btn_g" disabled>
    </div>
  </div>
</main>
