<main>
<div id="news">
  <div class="wrap flex_container_start">
  <div class="menu-trigger tab_sp" href="javascript:void(0);">
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
	<span class="spnavButton__border"></span>
</div>

<%= render partial: "shared/aside" %>
  <div class="inner_large">
    <div class="page_ttl_wrap">
      <div class="page_ttl">
        <h1>サービスに関するお知らせ</h1>
      </div>
    </div>
    <div class="content flex_container_start">
      <div class="news_content">
                                          <div class="news_item">
              <a href="#">
                <div class="flex_container_s">
                  <div class="news_cat">お知らせ</div>
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <div class="news_ttl"><h2>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</h2></div>
                </div>
              </a>
            </div>
                                  <div class="news_item">
              <a href="#">
                <div class="flex_container_s">
                  <div class="news_cat">お知らせ</div>
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <div class="news_ttl"><h2>お問い合わせ窓口の営業時間変更に関するお知らせ</h2></div>
                </div>
              </a>
            </div>
                                  <div class="news_item">
              <a href="#">
                <div class="flex_container_s">
                  <div class="news_cat">新機能・改善</div>
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <div class="news_ttl"><h2>利用状況のデータをダウンロードできるようになりました。</h2></div>
                </div>
              </a>
            </div>
                                  <div class="news_item">
              <a href="#">
                <div class="flex_container_s">
                  <div class="news_cat">メンテナンス</div>
                  <div class="news_time">2022-11-02 (Wed)</div>
                  <div class="news_ttl"><h2>サイトメンテナンスのお知らせ</h2></div>
                </div>
              </a>
            </div>
                    <div class="pagenavi">
            <div class='wp-pagenavi' role='navigation'>
<span aria-current='page' class='current'>1</span>
</div>          </div>
              </div>
      <aside class="sidebar_news sidebar_menu">
  <div class="sidebar_news_ttl">お知らせカテゴリ</div>
    <div class="sidebar_news_item">
    <a href="#">
      お知らせ      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="#">
      メンテナンス      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
    <div class="sidebar_news_item">
    <a href="#">
      新機能・改善      <%= image_tag "/sidebar/icon_side_arrow.svg" %>
    </a>
  </div>
  </aside>
    </div>
  </div>
</div>
</main>
