<main>
<div id="terms">
  <div class="page_ttl">
    <h1><span>TERMS</span>利用規約</h1>
  </div>
  <section>
    <h2>はじめに</h2>
    <p>この利用規約（以下「本規約」といいます。）は、株式会社PARCOM（以下「当社」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。</p>
    <h2>第1条(本規約の適用)</h2>
    <p>本規約は、ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。<br>当社は本サービスに関し、本規約のほか、ご利用にあたってのルール等、各種の定め（以下、「個別規定」といいます。）をすることがあります。<br>これら個別規定はその名称のいかんに関わらず、本規約の一部を構成するものとします。<br>本規約の規定が前条の個別規定の規定と矛盾する場合には、個別規定において特段の定めなき限り、個別規定の規定が優先されるものとします。</p>
    <h2>第2条 (利用規約の変更)</h2>
    <p>当社は、本規約の変更が、お客様等の一般に適合するとき、または、当社が、本規約の変更が本規約の目的に反せず、変更に係る事情に照らして合理的なものであると判断したときは、お客様との個別の合意なしに、本規約を変更することがあります。<br>その場合、当社は、その効力発生時期を定め、かつ、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を、効力発生日前に、当社のウェブサイト上での告知または当社が適当と判断する方法でお客様に通知します。</p>
    <h2>第3条 (本サービスの提供)</h2>
    <p>1. 当社は、お客様に対し、本サービスを提供致します。</p>
    <p>2. お客様は、自らの責任と費用において、ハードウェア、ソフトウェア、インターネット接続回線、セキュリティの確保等、本サービスの利用に必要な環境（以下「利用環境」といいます。）を整備します。</p>
    <h2>第4条 (契約期間)</h2>
    <h3>契約成立と利用開始日について</h3>
    <p>本サービス会員登録をいただき、当社からの会員登録完了のご案内をもって当社が申込を受諾したものとし、契約成立となります。</p>
    <h3>フリープランの契約期間</h3>
    <p>フリープランには、契約期間の定めはありません。</p>
    <h3>有料プランの契約期間</h3>
    <p>有料プランの契約期間は、月間契約とし、契約成立時に会員専用画面において表示される次回契約プラン更新日までとします。</p>
    <h3>契約の自動更新</h3>
    <p>有料プランの契約者から当社に対し、契約期間満了日までに、所定の解約手続きによって契約を終了させる旨の申し出がなされない限り、1ヶ月間自動更新されるものとし、その後も同様とします。</p>
    <h3>基準時間</h3>
    <p>本利用規約にて定める日時は、全て日本時間を基準とします。</p>
    <h2>第5条 (プランの変更)</h2>
    <p>本サービスの契約者は、当社に対し、各号記載のとおり、プラン変更を申し込むことができます。</p>
    <h3>フリープラン契約者</h3>
    <p>各有料プランへのプラン変更を申し込むことができます。</p>
    <h3>有料プラン契約者</h3>
    <p>フリープラン及びその他有料プランへの変更を申し込むことができます。<br>ただし、各プランで定められている利用者数を超える利用者がいる場合、会社ページへアクセスすることができなくなります。</p>
    <h2>第6条 (認証・パスワード管理等)</h2>
    <p>1. 本サービスを利用するにあたっては、メールアドレス及びパスワードの登録が必要となります。</p>
    <p>2. お客様は、登録したメールアドレス及びパスワードを厳重に管理するものとし、第三者に知られないようにしなければなりません。第三者にパスワードを知られたと感じる場合には、直ちにパスワードを変更するものとします。</p>
    <p>3. 当社は、お客様が登録したメールアドレス及びパスワードの入力によりログインされ、本サービスが利用されているときは、当該メールアドレス及びパスワードを登録したお客様ご本人が本サービスを利用しているものとみなします。</p>
    <h2>第7条 (利用料金)</h2>
    <p>1. 本サービスの利用にあたり、契約者は、以下各号に定めるところに従い、利用料金を支払うものとします。</p>
    <p>1) サービス利用料金</p>
    <p>本サービスの利用料金は、別途定めるプランページの内容に従うものとします。</p>
    <p>2) お支払方法</p>
    <p>クレジットカード決済又は当社が別途定める方法（以下単に「クレジットカード決済」といいます。）のみご利用できます。</p>
    <p>3) 利用料金の発生</p>
    <p>各プランの利用開始及び変更、並びに追加機能利用のお申し込み後、弊社指定の支払い方法にて決済処理が完了した日から利用料金が発生します。なお、契約更新時は決済処理が完了した日ではなく、契約更新日より料金が発生します。契約更新は第4条に従って、適用されます。</p>
    <p>4) お支払日</p>
    <p>お支払日は、各クレジット会社会員規約に基づく引き落とし日となります。</p>
    <p>2. 料金の改訂について</p>
    <p>当社は、契約者の承諾無く料金額を改定または部分的変更を行うことができるものとし、契約者は、改定後の料金を当社指定の方法で支払うものとします。</p>
    <h2>第8条 (連絡について)</h2>
    <p>1. 当社からお客様への連絡は、書面の送付、メールの送信、または本サイトへの掲載等、当社が適当と判断する通信手段によって行います。当該連絡が、メールの送信又は本サイトへの掲載によって行われる場合は、インターネット上に配信された時点でお客様に到達したものとします。</p>
    <p>2. お客様から当社への連絡は、本サイト上のメールフォームからのメールの送信、または当社が指定する方法にて行うものとします。</p>
    <h2>第9条 (個人情報の取り扱いに関して)</h2>
    <p>当社は、お客様の個人情報を、<%= link_to "プライバシーポリシー", "/privacy" %>に基づき、適切に取り扱います。</p>
    <h2>第10条 (本サービス内容の変更)</h2>
    <p>当社は、お客様への事前の通知なくして、本サービス各プランの諸条件、価格、本サービスの部分的な改廃など、本サービスの内容を変更することがあり、お客様は、これを承諾するものとします。</p>
    <h2>第11条 (サービスの中断)</h2>
    <p>当社は以下の各号の一に該当する場合には、お客様に事前に連絡することなく、一時的にサービスの提供を中断する場合があります。お客様は、このことを了解の上ご利用ください。</p>
    <p>1. 本サービスのシステムの保守を定期的に、または緊急に行う場合</p>
    <p>2. 火災、停電、事故などにより本サービスの提供ができなくなった場合</p>
    <p>3. 地震、噴火、洪水、津波などの天災により本サービスの提供ができなくなった場合</p>
    <p>4. 戦争、変乱、暴動、騒乱、労働争議などにより本サービスの提供ができなくなった場合</p>
    <p>5. 予想外の技術的問題</p>
    <p>6. その他、運用上、技術上、当社が本サービスの一時的な中断を必要と判断した場合</p>
    <h2>第12条 (お客様の都合によるサービスの停止)</h2>
    <p>1. （停止事由）弊社指定の支払方法にて利用料金の決済処理ができないこと<br>（再開事由）未払料金全額の入金が確認されること</p>
    <p>2. （停止事由）未払料金が発生し、かつ、当社から契約者に連絡が取れないこと<br>（再開事由）契約者に連絡がとれ、かつ、未払料金全額の入金が確認されたこと</p>
    <p>3. （停止事由）当社からお客様に連絡を取る必要がある場合において、お客様に連絡がとれないこと<br>（再開事由）当該お客様に連絡が取れること</p>
    <p>4. （停止事由）第16条に違反した場合において、違反状態が是正されないこと<br>（再開事由）第16条の違反状態が是正されたこと</p>
    <h2>第13条 (本サービスの廃止)</h2>
    <p>1. 当社は、やむをえない事由が発生した場合には、本サービスの契約を終了させ、または本サービスの提供を廃止することがあります。</p>
    <p>2. 本サービスを廃止する場合には、あらかじめ、ウェブサイトにおける告知その他適宜の方法によりお客様に通知致します。ただし、緊急その他やむをえない事情がある場合はこの限りでありません。</p>
    <h2>第14条 (契約者による解約)</h2>
    <p>1. フリープランの契約者について<br>フリープランの契約者は、当社所定のオンライン上の解約ページにより解約を申し出ることにより、いつでも、本サービスの利用契約を解約できるものとします。</p>
    <p>2. 有料プランの契約者について<br>有料プランの契約者は、当該契約期間満了日までに当社所定のオンライン上の解約ページにより解約を申し出ることにより、本サービスの利用契約を解約できるものとします。<br>契約期間の途中の解約や利用日数の有無にかかわらず、当社が規定した契約期間分の料金は、全額お支払いいただくものとし、既にお支払いいただいた利用料金がある場合でも当社から契約者への返金は致しません。</p>
    <h2>第15条 (返金・キャンセル)</h2>
    <p>1. 契約者は、第14条（契約者による解約）の場合を除き、契約締結後の申込みの撤回（キャンセル）はできません。</p>
    <p>2. 前項の規定にかかわらず、当社が契約者の申込内容と異なるサービスをお客様に提供した場合、契約者は、電子メールまたは当社が提供する手段を通じて当社へ連絡し、申し込みの撤回・キャンセルをすることができます。</p>
    <p>3. 前項の規定によりキャンセルがされた場合、当社は、銀行振込またはクレジットカード決済の取り消しにより、返金致します。</p>
    <h2>第16条 (禁止事項)</h2>
    <p>お客様は、本サービスの利用に際して、故意または過失の有無にかかわらず、自ら、又は第三者を利用して、以下各号に該当する行為を行ってはならないものとします。</p>
    <p>1. 承諾を得ることなく他人の著作物やその複製物を送信する行為、他人のプライバシーや企業秘密に属する事項を送信する行為など、当社もしくは第三者の著作権、商標権等の知的財産権、財産、プライバシーもしくは肖像権を侵害する行為、又はそのおそれのある行為。</p>
    <p>2. 当社、もしくは第三者に不利益又は損害を与える行為、又はそのおそれのある行為。</p>
    <p>3. 第三者の人権を侵害する行為ないし公序良俗に反する行為、又はそのおそれのある行為。</p>
    <p>4. 詐欺・脅迫など犯罪実行の手段や、犯罪の教唆・扇動のために本サービスを利用するなど、犯罪的行為もしくは犯罪的行為に結びつく行為、又はそのおそれのある行為。</p>
    <p>5. 極度に当社サーバに極度の負荷をかけるような態様で本サービスを使用するなど、当社もしくは本サービスの運営を妨げる行為、又はそのおそれのある行為。</p>
    <p>6. 当社もしくは本サービスの信用を毀損する行為、又はそのおそれのある行為。</p>
    <p>7. 当社に対して虚偽の申告、届出を行う行為。</p>
    <p>8. 本サービスを通じて、又は本サービスに関連してコンピュータウィルス等、有害なプログラムを使用、又は提供する行為、又はそのおそれのある行為。</p>
    <p>9. 法令に違反する行為。</p>
    <p>10. お客様のものとして登録したメールアドレス及びパスワードを、お客様以外の第三者に入力させて本サービスを利用させる行為。</p>
    <p>11. 当社の事前の書面による同意なく第三者へ本サービス利用契約上の地位を貸与、譲渡する行為。</p>
    <p>12. 本サービスの一部または全部をリバースエンジニアリング、逆コンパイル、又は逆アセンブラ、その他本サービスを解析する行為。</p>
    <p>13. 反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与をする行為。</p>
    <p>14. ハードウェアまたはソフトウェアの管理を無効にする等、ハードウェアまたはソフトウェアのメーカーが定める利用規約、ガイドライン、その他の規程類で定められた使用条件に違反して改造されたデバイスを使って、本サービスを利用する行為。</p>
    <p>15. 前各号の行為を直接又は間接に惹起し又は容易にする行為。</p>
    <p>16. その他、当社が不適当であると判断する行為。</p>
    <h2>第17条 (免責事項)</h2>
    <p>1. お客様のユーザーＩＤ及びパスワードが第三者によって使用されていた場合、お客様が被った損害について、お客様の故意や過失の有無にかかわらず、当社は一切責任を負いません。</p>
    <p>2. 第三者によるクレジットカード不正利用が行われた場合、お客様と、第三者及びクレジットカード会社との間で処理解決するものとし、お客様の故意過失の有無に関わらず、当社は一切責任を負いません。</p>
    <p>3. お客様とクレジットカード会社、収納代行会社、その他金融機関などの間で紛争が発生した場合は、当該当事者双方で解決するものとし、当社は一切責任を負いません。</p>
    <p>4. 第11条の規定によるサービス中断期間中、お客様が本サービスを利用できなかったことに関する損害、作業が中断したことに関する損害、データが失われたことに関する損害、本サービスを利用することによって得られたであろう利益を得られなかった損害など、本サービスの利用に際して発生した損害については、直接損害・間接損害、現実に発生した損害か否かを問わず、当社は一切の責任を負わないものとし、お客様はこれを承諾するものとします。</p>
    <p>5. 第12条の規定によるサービス停止期間中、お客様が本サービスを利用できなかったことに関する損害、作業が中断したことに関する損害、データが失われたことに関する損害、本サービスを利用することによって得られたであろう利益を得られなかった損害など、本サービスの利用に際して発生した損害については、直接損害・間接損害、現実に発生した損害か否かを問わず、当社は一切の責任を負わないものとし、お客様はこれを承諾するものとします。</p>
    <p>6. 第13条の規定によって本サービスが廃止された場合、お客様が本サービスを利用できなくなったことに関する損害、作業が中断したことに関する損害、データが失われたことに関する損害、本サービスを利用することによって得られたであろう利益を得られなかった損害など、本サービスの利用に際して発生した損害については、直接損害・間接損害、現実に発生した損害か否かを問わず、当社は一切の責任を負わないものとし、お客様はこれを承諾するものとします。</p>
    <h2>第18条 (準拠法)</h2>
    <p>本規約の成立、効力、履行及び解釈に関しては、日本国法が適用されるものとします。</p>
    <h2>第19条 (誠実義務及び専属的合意管轄裁判所)</h2>
    <p>1. 本規約に関連して利用者と当社との間で紛争が生じた場合、お互い誠実に協議し、これを解決するものとします。</p>
    <p>2. 前項の協議にもかかわらず解決に至らない場合は、金沢簡易裁判所または金沢地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
    <p>以上<br>2023年4月制定</p>
  </section>
</div>
</main>
