// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#admin_title {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

#contents {
    width: 90%;
    margin: auto;
}

.table {
    border: 2px #333333 solid;
    th, td {
        border: 2px #333333 solid;
        padding: 5px;
    }
}

.table_name {
    overflow-x: auto;
    display: none;
}

.table_wrap {
    table-layout: fixed;
    width: 100%;
}

.table_user {
    table-layout: fixed;
    width: 2000px;
}

.table_park {
    table-layout: fixed;
    width: 5000px;
}



.back {
    float: right;
}

.back a:hover {
    color: #46C541;
}

.form {
    display: block;
}

td a {
    color: #46C541;
}

.edit_id {
    visibility: hidden;
}

.hidden {
    display: none;
}

.position_default {
    width: 200px !important;
}

#model_submit {
    display: none;
}

#hidden_model {
    display: none;
}

.make_model_wrap {
    text-align: center;
}

.make_model_btn {
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #46C541;
    color: #fff;
}