// Place all the styles related to the parcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#stage {
    width: 200px;
    height: 100px;
}

.canvasjs-chart-credit {
    display: none;
}

.ex_chart {
    max-height: 45px;
    max-width: 90%;
    position: absolute;
    top: 24%;
    left: 3%;
}

#data {
    display: none;
}

#preview_image {
    vertical-align: bottom;
    width: 100%;
    // height: auto;
    // width: 184px;
    height: 103px;
    object-fit: cover;
    // border: none;
}

#mp4_preview_video {
    vertical-align: bottom;
    width: 100%;
    height: 103px;
    // height: auto;
    // aspect-ratio: 18179/10206;
    object-fit: cover;
}

#audio_player {
    width: 350px;
    height: 40px;
    margin: 18px 0;
}

#submitButton {
    display: none;
}

.gragh_dummy {
    background-color: #F5F7FA;
    vertical-align: bottom;
    width: 100%;
    height: 70px;
}