// Place all the styles related to the parcom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#stage {
    width: 200px;
    height: 100px;
}

.canvasjs-chart-credit {
    display: none;
}

#ex_chart {
    max-width: 200px;
    max-height: 100px;
}

#data {
    display: none;
}

#preview_image {
    aspect-ratio: 18179/10206;
    object-fit: cover;
}

#mp4_preview_video {
    aspect-ratio: 18179/10206;
    object-fit: cover;
    width: 182px;
}

#submitButton {
    display: none;
}