// Place all the styles related to the park controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.submit_btn {
    width: 120px;
    height: 50px;
    margin-top: 50px;
    background: #46C541;
    border: 1px solid #46C541;
    color: #fff;
    border-radius: 5px !important;
    line-height: 45px;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 1px 6px;
}

.submit_btn:hover {
    background: #fff;
    color: #46C541;
    border: 1px solid #46C541;
}

// #add_picture_submit {
//     display: none;
// }

#parkinfo_edit .picture_content .delete_btn {
    margin-top: 50px;
    margin-left: 10px;
    display: none;
    border-radius: 5px;
    height: 50px;
    width: 210px;
}

#img_file {
    display: block;
}


.thumbnail {
    height: 55px;
    width: 55px;
    border-radius: 5px;
}

#upload_box {
    position: relative;
    display: none;
    width: 300px;
    z-index: 2;
}

#upload_form {
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #46C541;
    top: 0%;
    left: 0%;
    text-align: center;
}

#cover {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}


#pdf_submit, #movie_submit, #audio_submit {
    display: none;
}

