// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#user_image:hover {
    cursor: pointer;
}

#update_btn_filter {
    background-color: transparent;
    width: 200px;
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}